@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');



body {
  background-color: #FFFFFF;
}

.hero-bg {
  background-image: url('./public/map.png');
}

.herocol-bg {
  background-image: url('./public/herocolbg.png');
}

::-webkit-scrollbar {
  display: none;
}